<h5>Criar/Editar aluno</h5>

<form>

    <div class="form-group">
        <input type="text" class="form-control"  placeholder="#"  [(ngModel)]="aluno.id" [value]="aluno.id" name="aluno.id" disabled>
     
    </div>
     
    <div class="form-group">
        <input type="text" class="form-control"  placeholder="#"  [(ngModel)]="aluno.nome" [value]="aluno.nome" name="nome">
    </div>


    <div class="form-group">
        <input type="text" class="form-control"  placeholder="#"  [(ngModel)]="aluno.email" value={{aluno.email}} name="email">
    </div>
  </form>